@import url(https://fonts.googleapis.com/css?family=Rokkitt:700);
/* MIXINS FOR FLEX */
/* SHADOW MIXINS */
/* Bootstrap Fixes */
.box-fix {
  padding: 0;
  margin: 0; }

.modal-header,
.modal-footer,
.modal-body {
  border: none; }

/* Angular Fixes */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* Top Level Element Styling */
html, body {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100vw; }

body > * {
  box-sizing: border-box; }

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); }

.box-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: center; }

.content-box {
  height: 100vh;
  border-right: 5px solid white;
  box-sizing: border-box;
  transition: all 0.2s ease; }

.content-box:nth-child(3) {
  border: none; }

.box-regular {
  flex-grow: 1; }

.box-grow {
  flex-grow: 5; }

.box-shrink {
  min-width: 15%; }

.bio-window {
  height: 100%; }

.main-banner {
  border: 2px solid #5a5a5a;
  margin: 2% 0;
  border-radius: 5px;
  width: 90%;
  position: relative;
  background: white; }
  .main-banner .top-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    margin: 7.5px 0; }
    .main-banner .top-container .photo-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      max-width: 30%;
      min-height: 100%; }
      .main-banner .top-container .photo-container .profile-img {
        border-radius: 50%;
        max-width: 50%;
        max-height: 50%;
        min-width: 50%;
        min-height: 50%;
        border: 3px solid #1e1e1e; }
    .main-banner .top-container .info-container {
      width: 65%;
      display: inline-block; }
      .main-banner .top-container .info-container .top-bar-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        align-content: center;
        justify-content: center; }
        .main-banner .top-container .info-container .top-bar-container .name-container {
          min-width: 30%;
          max-width: 45%;
          display: inline-block;
          width: 100%; }
  .main-banner .name-text {
    font-weight: 700;
    font-size: 24pt;
    margin: auto; }
  .main-banner .header-container {
    margin: 0;
    padding: 0; }
  .main-banner .header-text {
    margin: 1% 3%; }
  .main-banner .jobs-text {
    font-family: "Rokkitt", serif;
    font-size: 16pt;
    text-align: center; }
  .main-banner .bottom-link > h3 {
    text-align: center; }
  .main-banner .bottom-link {
    border-right: 1px solid #5a5a5a;
    margin-top: 2%; }
  .main-banner .bottom-link:nth-child(3) {
    border: none; }
  .main-banner .bio-info-container {
    margin: 5%; }
  .main-banner .bio-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%; }
  .main-banner .link-container {
    margin-bottom: 0.5%; }

.contact-form:before, .contact-form:after,
.main-banner:before, .main-banner:after {
  background: black;
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12px;
  left: 10px;
  width: 50%;
  top: 80%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-1.5deg); }

.contact-form:after,
.main-banner:after {
  transform: rotate(1.5deg);
  right: 10px;
  left: auto; }

.project-container {
  overflow: scroll; }

.portfolio-container {
  padding: 2.5%; }

.project-card {
  -webkit-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
  margin: 15px;
  background: white;
  display: inline-block;
  padding: 5px; }

.top-box,
.description-box,
.interaction-box {
  max-width: 100%; }

.top-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between; }

.photo-link-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 45%; }

.details-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  max-width: 45%;
  flex-grow: 2; }
  .details-links > a {
    text-decoration: none;
    color: inherit; }

.details {
  font-family: "Rokkitt", serif;
  font-size: 18pt;
  font-weight: 700;
  display: inline-block;
  min-width: 95%;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 0px 1px 0 #fff, 1px 0px 0 #fff, 0px -1px 0 #fff, -1px 0px 0 #fff, 4px 4px 3px #000; }

.details:visited {
  color: inherit; }

.photo-link {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center; }

.project-photo {
  max-width: 50%; }

.details-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  display: inline-block; }

.description-box {
  min-width: 90%;
  background: rgba(240, 240, 240, 0.2); }

.interaction-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  min-width: 100%; }

.interaction-link {
  text-align: center;
  text-decoration: none;
  color: inherit;
  min-width: 47.5%; }

.interaction-link:hover,
.interaction-link:visited {
  text-decoration: none;
  color: inherit; }

.interaction-tab {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 47.5%; }

.interaction-tab:first-child {
  border-right: 2px solid #5a5a5a; }

.content-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  height: 100vh;
  width: 100%; }

.title-window {
  display: block;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1; }

.content-window {
  overflow: scroll; }

.portfolio-window {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-height: 100%;
  overflow: scroll; }

.project-headline {
  font-style: italic; }

.project-status {
  color: #5a5a5a;
  font-size: 18px;
  float: right;
  vertical-align: middle; }

.portfolio-tech-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center; }

.portfolio-img-container {
  display: inline-block;
  margin: 0 5%; }

.portfolio-tech-icon {
  display: inline-block;
  height: 50px;
  margin: 5% 15%; }

.portfolio-link {
  display: block;
  font-family: "Rokkitt", serif;
  font-size: 16pt;
  color: orange;
  text-decoration: none; }

.portfolio-link:visited {
  color: orange; }

.portfolio-link:visited {
  text-decoration: none; }

.contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 90%;
  background: #f6511d;
  border: 2px solid #c8c8c8;
  font-family: "Rokkitt", serif;
  font-size: 16pt;
  border-radius: 5px; }
  .contact-form .form-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 2%;
    width: 90%; }
    .contact-form .form-group .top-forms {
      width: 90%; }
      .contact-form .form-group .top-forms input {
        line-height: 28px; }
      .contact-form .form-group .top-forms textarea {
        min-width: 90%; }
      .contact-form .form-group .top-forms label {
        display: block;
        width: 90%; }
      .contact-form .form-group .top-forms .text-field {
        width: 90%; }
    .contact-form .form-group .bottom-forms-label {
      width: 90%; }
    .contact-form .form-group .bottom-forms {
      width: 90%;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      align-content: center;
      justify-content: center; }
      .contact-form .form-group .bottom-forms .radio-group {
        display: inline-block;
        max-width: 45%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        flex-grow: 1; }
      .contact-form .form-group .bottom-forms .submit-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: inline-block;
        text-align: center;
        max-width: 45%;
        min-height: 100%;
        flex-grow: 1; }
        .contact-form .form-group .bottom-forms .submit-container button {
          font-family: "Rokkitt", serif;
          font-size: 18pt;
          min-width: 50%;
          max-width: 80%;
          height: 50px;
          background: #00a6ed;
          border-radius: 15px;
          border: none;
          margin-bottom: 5%;
          -webkit-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75); }

.social-link-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  position: absolute;
  top: 25px;
  left: 25px;
  margin-top: 0.5%;
  z-index: 99; }
  .social-link-container .social-btn {
    text-decoration: none;
    color: #5a5a5a;
    margin: 2px 3px; }
  .social-link-container .social-btn:hover {
    color: #5a5a5a; }
  .social-link-container .social-btn:visited {
    color: #5a5a5a; }
  .social-link-container .linkedin-btn:hover {
    color: #036699; }
  .social-link-container .twitter-btn:hover {
    color: #55acee; }
  .social-link-container .github-btn:hover {
    color: orange; }

.title {
  display: inline-block;
  font-family: "Rokkitt", serif;
  font-weight: 700;
  font-size: 24pt;
  color: orange;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.title-vertical {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.background-div {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1; }

.biography-background {
  background: url("../media/mountains.jpg") no-repeat center center fixed; }

.portfolio-background {
  background: url("../media/workshop.jpg") no-repeat center center fixed; }

.contact-background {
  background: url("../media/envelopes.jpg") no-repeat center center fixed; }

.grayscale-heavy {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); }

.grayscale-light {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -o-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  filter: grayscale(30%); }

.cols {
  top: 0;
  -moz-column-count: 2;
  -moz-column-gap: 1%;
  -moz-column-width: 30%;
  -webkit-column-count: 2;
  -webkit-column-gap: 1%;
  -webkit-column-width: 30%;
  column-count: 2;
  column-gap: 1%;
  column-width: 30%; }
