<div class="content-window ng-hide" ng-show="BioFocus" ng-cloak>
  <div class="main-banner">
    <div class="top-container">
      <div class="photo-container">
        <!-- <div class="photo"> -->
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYFAAAAJDRiNzc2OTA2LWRjMGEtNDA0ZS05MmQ5LTI3MWVmNDgzNDZjMQ.jpg" alt="" class="profile-img"/>
        <!-- </div> -->
      </div>
      <div class="info-container">
        <div class="top-bar-container">
          <span class="name-text title">Ryan Douglas</span>

        </div>
        <div class="bio-container">
          <p class="jobs-text">&bull; web app maker &bull; semantic html writer &bull; business developer &bull; digital marketer &bull; business owner &bull; avid angler &bull; dog trainer &bull; beer creator &bull; </p>
        </div>

      </div>
    </div>
  </div>
  <div class="main-banner">
    <div class="bio-info-container">
      <div class="header-container">
        <span class="header-text title">Biography</span>

      </div>
      <div class="bio-container">
        <p>
          This is a longer paragraph that will serve to test my bio window and ensure that spacing is correct
        </p>
        <p>
          This is a longer paragraph that will serve to test my bio window and ensure that spacing is correct
        </p>
        <p>
          This is a longer paragraph that will serve to test my bio window and ensure that spacing is correct
        </p>

      </div>

    </div>
  </div>
</div>
