
<main class="box-container"  ng-init="landingPageToggle()">
    <!-- Bio Box -->
  <section class="bio-box content-box box-fix" ng-class="{'col-md-4': !focus, 'col-md-8': focus === 'BioFocus', 'col-md-2': focus != 'BioFocus' && focus}">
    <div class="background-div biography-background" ng-class="{'grayscale-heavy': focus != 'BioFocus' && hover != 'BioHover', 'grayscale-light': focus === 'BioFocus' || hover === 'BioHover'}">
    </div>
    <div class="content-container" >
      <div class="title-window" ng-click="toggleFocus('BioFocus')"
      ng-mouseenter="toggleHover('BioHover')" ui-sref="portfolio.biography">
        <span class="title" ng-class="{'title-vertical': focus}">BIOGRAPHY</span>
      </div>
      <div class="content-window ng-hide bio-window" ng-show="focus === 'BioFocus'" ng-cloak>

        <div ui-view>

        </div>

      </div>
    </div>
  </section>
  <!-- Portfolio Box -->
  <section class="portfolio-box content-box box-fix" ng-class="{'col-md-4': !focus, 'col-md-8': focus === 'PortfolioFocus', 'col-md-2': focus != 'PortfolioFocus' && focus}" ng-cloak>
    <div class="background-div portfolio-background"  ng-class="{'grayscale-heavy': focus != 'PortfolioFocus' && hover != 'PortfolioHover', 'grayscale-light': focus === 'PortfolioFocus' || hover === 'PortfolioHover'}">

    </div>
    <div class="content-container">
      <div class="title-window"  ng-click="toggleFocus('PortfolioFocus')"
      ng-mouseenter="toggleHover('PortfolioHover')" ui-sref="portfolio.projects">
        <span class="title" ng-class="{'title-vertical': focus}">PORTFOLIO</span>
      </div>
      <div class="content-window portfolio-window ng-hide" ng-show="focus === 'PortfolioFocus'"
      ng-cloak>
      <!-- <h1 class="title">Featured Projects</h1> -->
        <div ui-view>

        </div>
      </div>
    </div>
  </section>
  <!-- Contact Box -->
  <section class="contact-box content-box box-fix" ng-class="{'col-md-4': !focus, 'col-md-8': focus === 'ContactFocus', 'col-md-2': focus != 'ContactFocus' && focus}" ng-cloak>
    <div class="background-div contact-background"  ng-class="{'grayscale-heavy': focus != 'ContactFocus' && hover != 'ContactHover', 'grayscale-light': focus === 'ContactFocus' || hover === 'ContactHover'}">
    </div>
    <div class="content-container">
      <div class="title-window"  ng-click="toggleFocus('ContactFocus')"
      ng-mouseenter="toggleHover('ContactHover')" ui-sref="portfolio.contact">
        <span class="title" ng-class="{'title-vertical': focus}">CONTACT</span>
      </div>
      <div class="content-window ng-hide" ng-show="focus === 'ContactFocus'" ng-cloak>
        <div ui-view>

        </div>
      </div>
    </div>
  </section>

</main>
