<div class="main-banner">
  <div class="top-container">
    <div class="photo-container">
      <!-- <div class="photo"> -->
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYFAAAAJDRiNzc2OTA2LWRjMGEtNDA0ZS05MmQ5LTI3MWVmNDgzNDZjMQ.jpg" alt="" class="profile-img"/>
      <!-- </div> -->
    </div>
    <div class="info-container">
      <div class="top-bar-container">
        <div class="name-container">
          <span class="name-text">Ryan Douglas</span>
        </div>
        <div class="social-link-container">
          <a href="" class="social-btn linkedin-btn"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href="" class="social-btn twitter-btn"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="" class="social-btn github-btn"><i class="fa fa-github-alt fa-2x"></i></a>
        </div>
      </div>
      <div class="bio-container">
        <p class="jobs-text">| web app maker | semantic html writer | business developer | digital marketer | business owner | avid angler | dog trainer | beer maker | </p>
      </div>

    </div>
  </div>
  <!-- <div class="link-container">
    <div class="bottom-link">
      <h3>Link 1</h3>
    </div>
    <div class="bottom-link">
      <h3>Link 2</h3>
    </div>
    <div class="bottom-link">
      <h3>Link 3</h3>
    </div>
  </div> -->

</div>
