<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <meta charset="utf-8">

    <!-- <link rel="stylesheet" href="/css/bootstrap.css" media="screen" title="no title" charset="utf-8"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Rokkitt:700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css" media="screen">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

    <script src="scripts/app.js" charset="utf-8"></script>
    <script src="scripts/controllers/controllers.js" charset="utf-8"></script>
    <script src="scripts/services/services.js" charset="utf-8"></script>

    <title>Ryan P Douglas | Web Developer</title>
    <base href="/" />
  </head>
  <body>
    <header>
      <div class="social-link-container">
        <a href="https://www.linkedin.com/in/valueinvalueadded" class="social-btn linkedin-btn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://twitter.com/DryFlyRyan" class="social-btn twitter-btn" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://github.com/DryFlyRyan" class="social-btn github-btn" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
      </div>
    </header>
    <main class="box-container" ng-controller="boxController" ng-init="landingPageToggle()">
        <!-- Bio Box -->
      <section class="bio-box content-box box-fix" ng-class="{'col-md-4': landingPage, 'col-md-8': BioFocus, 'col-md-2':  !BioFocus && !landingPage}">
        <div class="background-div biography-background" ng-class="{'grayscale-heavy': BioFocus, 'grayscale-light': !BioFocus}">
        </div>
        <div class="content-container" >
          <div class="title-window" ng-click="toggleFocus('biography')">
            <span class="title" ng-class="{'title-vertical': !landingPage}">BIOGRAPHY</span>
          </div>
          <div class="content-window ng-hide bio-window" ng-show="BioFocus" ng-cloak>
            <div class="main-banner">
              <div class="top-container">
                <div class="photo-container">
                  <!-- <div class="photo"> -->
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYFAAAAJDRiNzc2OTA2LWRjMGEtNDA0ZS05MmQ5LTI3MWVmNDgzNDZjMQ.jpg" alt="" class="profile-img"/>
                  <!-- </div> -->
                </div>
                <div class="info-container">
                  <div class="top-bar-container">
                    <span class="name-text title">Ryan Douglas</span>

                  </div>
                  <div class="bio-container">
                    <p class="jobs-text">&bull; web app maker &bull; semantic html writer &bull; business developer &bull; digital marketer &bull; business owner &bull; avid angler &bull; dog trainer &bull; beer creator &bull; </p>
                  </div>

                </div>
              </div>
            </div>
            <div class="main-banner">
              <div class="bio-info-container">
                <div class="header-container">
                  <span class="header-text title">Biography</span>

                </div>
                <div class="bio-container">
                  <p>
                    This is a longer paragraph that will serve to test my bio window and ensure that spacing is correct
                  </p>
                  <p>
                    This is a longer paragraph that will serve to test my bio window and ensure that spacing is correct
                  </p>
                  <p>
                    This is a longer paragraph that will serve to test my bio window and ensure that spacing is correct
                  </p>

                </div>

              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- Portfolio Box -->
      <section class="portfolio-box content-box box-fix" ng-class="{'col-md-4': landingPage, 'col-md-8': PortfolioFocus, 'col-md-2':  !PortfolioFocus && !landingPage}" ng-cloak>
        <div class="background-div portfolio-background" ng-class="{'grayscale-heavy': PortfolioFocus, 'grayscale-light': !PortfolioFocus}">

        </div>
        <div class="content-container">
          <div class="title-window"  ng-click="toggleFocus('portfolio')">
            <span class="title" ng-class="{'title-vertical': !landingPage}">PORTFOLIO</span>
          </div>
          <div class="content-window portfolio-window ng-hide" ng-show="PortfolioFocus"
          ng-controller="portfolioController" ng-cloak>
          <!-- <h1 class="title">Featured Projects</h1> -->
            <div class="project-container cols">
              <!-- Project Cards -->
              <div class="project-card" ng-repeat="item in portfolioItems" style="background: {{item.background}}">
                <div class="top-box">
                  <div class="photo-link-container">
                    <a href="" class="photo-link">
                      <img class="project-photo" src="http://appbalo.com/wp-content/uploads/2014/08/Square-InstaPic---No-crop.png" alt="dummy image" />
                    </a>
                  </div>
                  <div class="details-links">
                    <a href="">
                      <span class="details">1/2/93</span>
                    </a>

                    <a href=""><span class="details">Project Repo</span></a>

                    <a href=""><span class="details">Site Link</span></a>
                  </div>
                </div>
                <div class="description-box">
                  <p>
                    {{item.description}}
                  </p>
                </div>
                <div class="interaction-box">
                  <div class="interaction-tab">
                    <a href="" class="question-link interaction-link"><span class="fa fa-question-circle fa-2x"></span></a>
                  </div>
                  <div class="interaction-tab">
                    <a href="" class="like-link interaction-link"><span class="fa fa-thumbs-o-up fa-2x"></span></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- Contact Box -->
      <section class="contact-box content-box box-fix" ng-class="{'col-md-4': landingPage, 'col-md-8': ContactFocus, 'col-md-2':  !ContactFocus && !landingPage}" ng-cloak>
        <div class="background-div contact-background" ng-class="{'grayscale-heavy': ContactFocus, 'grayscale-light': !ContactFocus}">
        </div>
        <div class="content-container">
          <div class="title-window"  ng-click="toggleFocus('contact')">
            <span class="title" ng-class="{'title-vertical': !landingPage}">CONTACT</span>
          </div>
          <div class="content-window ng-hide" ng-show="ContactFocus" ng-cloak>
            <section class="contact-form">
              <div class="form-group">
                <div class="top-forms" action="index.html" method="post">
                  <label for="name">What's your name?</label>
                  <input type="text" class="name-field text-field" id="name" placeholder="Enter your name">
                  <label for="email">What's your email?</label>
                  <input type="email" class="email-field text-field" id="email" placeholder="Enter your email">

                  <label for="message">Leave a message:</label>
                  <textarea name="message text-field" rows="8" cols="40"></textarea>
                </div>
                <div class="bottom-forms-label">
                  <h3>Contact reason:</h3>
                </div>
                <div class="bottom-forms">
                  <div class="radio-group">
                    <div class="radio-button-container">
                      <input type="checkbox" class="radio-button" id="question">
                      <label for="question">Ask a Question</label>
                    </div>
                    <div class="radio-button-container">
                      <input type="checkbox" class="radio-button" id="project-inquiry">
                      <label for="project-inquiry">Got a Project</label>
                    </div>
                    <div class="radio-button-container">
                      <input type="checkbox" class="radio-button" id="job-op">                           <label for="job-op">Job Opportunity</label>
                    </div>
                  </div>

                  <div class="submit-container">
                    <button type="button" name="submit">Send it To Me!</button>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>

    </main>
    <footer>

    </footer>
  </body>
</html>
